@tailwind base;

@tailwind components;

@font-face {
    font-family: vazirRegular;
    src: url(/fonts/Vazir.woff);
}

@font-face {
    font-family: vazirBold;
    src: url(/fonts/Vazir-Bold.woff);
}

::placeholder {
    text-align: right;
}

.test {
    top: 25px;
    right: 25px;
}

.transition-height {
    transition: max-height 1s ease-out;
}

.addCat {
    background-image: url("/yellow.jpg");
}

.addCourse {
    background-image: url("/pencils.jpg");
}

.addCourseInCourses {
    background-image: url("/book.jpg");
}


@tailwind utilities;