:root {
  --light-bg-color: #EAE7DC;
  --main-bg-color: #D8C3A5;
  --box-color: #8E8D8A;
  --secondary-color: #E98074;
  --primary-color: #E85A4f;
  --hover-primary-color: #C8271A;
}

@font-face {
  font-family: vazirRegular;
  src: url(/fonts/Vazir.woff);
}

@font-face {
  font-family: vazirBold;
  src: url(/fonts/Vazir-Bold.woff);
}

body {
  margin: 0;
  font-family: vazirRegular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 992px) {
  body {
    font-size: 18px;
  }
}
